<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Jquery / Bootstrap / Google Docs Links -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script></script> {{!--Font Awesome Provides Our Icons --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">{{!-- Read the comment on line 6.. --}} {{!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="icon" href="/images/favicon.ico">
  <title>Guest-Key</title>
  <script src="[folder-path]/jquery/dist/jquery.js" type="text/javascript"></script> {{!-- // the following files only need to be included in order to support client-side uploading --}} {{!--
  <script src="[folder-path]/blueimp-file-upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
  <script src="[folder-path]/blueimp-file-upload/js/jquery.iframe-transport.js" type="text/javascript"></script>
  <script src="[folder-path]/blueimp-file-upload/js/jquery.fileupload.js" type="text/javascript"></script>
  <script src="[folder-path]/cloudinary-jquery-file-upload/cloudinary-jquery-file-upload.js" type="text/javascript"></script> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <title>Welcome 2 My Home</title>
</head>

<body>
  <div class="topnav">
    <img id="frontPageLogo" src="/images/guestKeyBlue.png">
    <a class="active" href="/about">About Us</a>
    <a href="/form">Form</a>
  </div>

  {{!-- note, this is where all page builds live (inside this body tag) --}} {{{body}}}

  <footer class="page-footer footer font-small pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-4 center">
          <h5>Mark Polichette</h5>
          <a class="whiteLink" href="https://github.com/MCPolichette/Welcome2MyHome">Github Repo</a> |
          <a class="whiteLink" href="https://www.linkedin.com/in/mark-polichette">LinkedIn</a> |
          <a class="whiteLink" href="https://twitter.com/MarkPolichette">Twitter</a>
        </div>

        <div class="col-md-4 center">
          <h5>Will Swensen</h5>
          <a class="whiteLink" href="https://github.com/Ponker25">Github Repo</a> |
          <a class="whiteLink" href="https://www.linkedin.com/in/william-a-swensen-04327794">LinkedIn</a>
        </div>

        <div class="col-md-4 center">
          <h5>Connie Elbon</h5>
          <a class="whiteLink" href="https://github.com/elkaleemom11">Github Repo</a> |
          <a class="whiteLink" href="https://www.linkedin.com/in/connie-elbon-18640652">LinkedIn</a> |
          <a class="whiteLink" href="https://twitter.com/ConnieElbon">Twitter</a>
        </div>

      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>