<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h1 class="header center teal-text text-lighten-1">Bon Voyage</h1>
            <div class="row center">
                <h5 class="header col s12 dark">A better way of planning a safe and enjoyable journey.</h5>
            </div>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
            </div>
            <br>
            <br>

        </div>
    </div>
    <div class="parallax">
        <img src="frontporch1.jpg" alt="Front house background img 1">
    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">touch_app</i>
                    </h2>
                    <h5 class="center">Convenient</h5>

                    <p class="light">A fast and simple way to prepare your home for home sitting. Allowing you to complete the necessary forms,
                        lists, instructions you feel is necessary to give to your home sitter while away on vacation.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">group</i>
                    </h2>
                    <h5 class="center">Personal</h5>

                    <p class="light">A personalized approach to communicate your needs to your home sitter. Providing open channels of communication
                        where information is shared to all parties involved in the care of the house, kids, or pets.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">mood</i>
                    </h2>
                    <h5 class="center">Ease of Mind</h5>

                    <p class="light">Knowing your house is safe and secure according to your standards, alleviates the stress and worry, and
                        creates a more enjoyable and pleasant vacation.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 dark">Less time in the office and more time having fun!</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="homeoffice6.jpg" alt="home office">
    </div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3>
                    <i class="mdi-content-send brown-text"></i>
                </h3>
                <h4>Contact Us</h4>
                <p class="left-align light">The Bon Voyage app was created by Mark Polichette, Will Swensen, and Connie Elbon. Three new and engaging
                    web developers, creating, exploring, and learning new methods to design praticable apps, for practicable
                    people. Each web developer can be reached by tapping into their own social media web sites.</p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 dark">Start today and begin your vacation tomorrow! Bon Voyage!</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="lc10_DSC0988.jpg" alt="Unsplashed background img 3">
    </div>
</div>