{{!-- This page will describe our mission statement and link to our form page. --}}
<div class="jumbotron">
    <div class="container1 center">
        <img src="/images/guestKey_logoBLK.png" alt="guest key" width="40%">
        <!-- <h1>Guest Key</h1> -->
        <h1 class="dispalay-1 center">A better way of planning a safe and enjoyable journey.</h1>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>Convenient</h2>
            <p>A fast and simple way to prepare your home for home sitting. Allowing you to complete what information you feel
                is necessary to give to your home sitter while away on vacation.</p>
        </div>

        <div class="col-md-4">
            <h2>Personal</h2>
            <p>A personalized approach to communicate your needs to your home sitter. Providing open channels of communication
                where information is shared to all parties involved in the care of the house, kids, or pets.</p>
        </div>

        <div class="col-md-4">
            <h2>Ease of Mind</h2>
            <p>Knowing your house is safe and secure according to your standards, alleviates the stress and worry, and creates
                a more enjoyable and pleasant vacation.</p>
        </div>
    </div>
</div>