{{!-- Create Contact Modal, This input shows up and adds emergency contacts to guest's field --}}
<div class="modal fade" id="emergency-contact-modal" tabindex="-1" role="dialog" aria-labelledby="emergency-contact" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="logo">Guest Key</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- Connie's Emergency contact form here --}}
                <h2>Emergency Contact</h2>
                <p>
                    <strong>Complete this section to list an emergency contact person to be reached when you are unavailable.</strong>
                </p>

                <form action="" method="GET">
                    <p class="required">* Required</p>
                    <div class="fieldset">
                        <fieldset>
                            <legend>
                                <strong>Emergency Contact:</strong>
                            </legend>

                            <p>
                                <label class="field" for="Emergency Contact Name">
                                    <span>*</span>Contact's Name:</label>
                                <input type="text" class="form-control" id="emergency-contact-name" placeholder="First and Last Name" name="contactName">
                            </p>
                            <p>
                                <label class="field" for="Emergency Contact Phone Number">
                                    Emergency Contact Phone:</label>
                                <input type="tel" class="form-control" id="emergency-phone" placeholder="Enter Phone Number" name="emergencyPhone">
                            </p>
                            <P>
                                <label class="field" for="Emergency Contact Email">
                                    Contacts Email:</label>
                                <input type="email" class="form-control" id="emergency-contact-email" placeholder="Enter Last Name" name="contactEmail">
                            </P>
                            <p>
                                <label class="field" for="Relationship">
                                    Relationship or other Notes about this contact:</label>
                                <input type="text" class="form-control" id="emergency-relationship" placeholder="Enter Relationship to Home Owner" name="contactRelationship">
                            </p>

                        </fieldset>
                    </div>
                </form>
                <style></style>

            </div>
            <div class="modal-footer">
                <button id="submitContact" type="submit" class="btn btn-primary">Create Contact</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="trip-modal" tabindex="-1" role="dialog" aria-labelledby="emergency-contact" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="logo">Guest Key</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- Connie's Emergency contact form here --}} {{!-- all new fields --}} {{!-- We may need to change the placeholders to
                match how bootstrap automates the inputs --}}
                <h4 class="center">Are you going out of town?</h4>
                <h5 class="center">Here you can fill out information about your trip to inform your guest about arrival and departure, and contact
                    information for where you are staying.</h5>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="departing-date">Departure Date</label>
                        <input id="departure-date" type="date" class="form-control" placeholder="8/8/18">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="return-date">Returning Date</label>
                        <input id="return-date" type="date" class="form-control" placeholder="8/8/18">
                    </div>
                </div>
                <h5>Additional Contact Information about your trip.</h5>
                <h5>In the example below, we used "Hotel" as the example, These fields are meant to be extra contact info</h5>
                <div class="form-group">
                    <label for="trip-destination">Hotel / Resort:</label>
                    <input id="trip-destination" type="text" class="form-control" placeholder="Hotel Name">
                </div>
                <div class="form-group">
                    <label for="trip-phone">Phone</label>
                    <input id="trip-phone" type="tel" class="form-control" placeholder="555-555-5555">
                </div>
                <div class="form-group">
                    <label for="trip-address">Address</label>
                    <input id="trip-address" type="text" class="form-control" placeholder="123 Main St">
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="trip-state">State</label>
                        <input id="trip-state" type="text" class="form-control" placeholder="State">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="trip-country">Country</label>
                        <input id="trip-country" type="text" class="form-control" placeholder="Nation">
                    </div>
                </div>
                <div class="form-group">
                    <label for="trip-notes">Additional notes for your guest</label>
                    <input id="trip-notes" type="text" class="form-control" placeholder="Write notes here about your stay that may be beneficial to your guest">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="new-contact" type="submit" class="btn btn-primary">Create Contact</button>
    </div>
</div>



<div class="jumbotron">
    <div class="row">
        <h1>Tell Us About Your Home!</h1>
        <h3>In the forms below, fill out any information you would like your guest to know.</h3>
        <h3> Everybody's home is different, thats why we want to allow you to customize this page as much as possible. Only a
            few categories are Required, If something doesn't apply to you, don't feel obligated to fill it out</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="center">About The Host (you)</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="center">Contact Information</h3>
            <div class="form-group">
                <label for="house-owner">Homeowner Name (required)</label>
                <input id="house-owner" type="text" class="form-control form-control-lg" placeholder="Your Name">
                <div class="form-group">
                    <label for="house-phone">Host Phone (required)</label>
                    <input id="house-phone" type="tel" class="form-control form-control-lg" placeholder="555-555-5555">
                </div>
                <div class="form-group">
                    <label for="house-email">Host Email (required)</label>
                    <input id="house-email" type="email" class="form-control form-control-lg" placeholder="your@email.here">
                </div>
                {{!-- new field --}}
                <div class="form-group">
                    <label for="host-notes">Additional Notes:</label>
                    <textarea class="form-control" id="host-notes" aria-describedby="host-notes" placeholder="Write any additional details you might want to "></textarea>
                </div>
                <a id="createNewContactBtn" class="nav-link" data-toggle="modal" data-target="#emergency-contact-modal">Create an emergency contact</a>
                <a id="createTripBtn" class="nav-link" data-toggle="modal" data-target="#trip-modal">Trip Modal</a>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="center">Submit a Photo</h3>
            <div class="form-group">
                <label for="house-photo">Add a photo to represent your home</label>
                <div class="card">
                    <img src="http://fillmurray.com/g/300/300" id="img-preview" />
                    <label class="file-upload-container" for="file-upload">
                        <input id="file-upload" type="file" style="display:none;"> Select an Image
                    </label>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 contact-view"></div>
    </div>
    <div class="row">
        {{!-- house-city, house-state, house-zip and house-city are new fields--}}
        <h4 class="center">Details about your home</h4>

        <h3>Give Your House a Name</h3>
        {{!-- attention HOUSE_NAME replaces HOUSE_TEXT --}}
        <div class="form-group">
            <label for="house-name">House Name</label>
            <input id="house-name" type="text" class="form-control" aria-describedby="house-name" placeholder="My House!">
            <h5> This name will be the Headline of your page, and used for in your site's URL to make it easier to find</h5>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="house-Address">Address</label>
            <input id="house-address" type="text" class="form-control" aria-describedby="house-address" placeholder="1234 Main St">
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="house-city">City</label>
            <input type="text" class="form-control" id="house-city">
        </div>
        <div class="form-group col-md-4">
            <label for="house-state">State</label>
            <select id="house-state" class="form-control">
                <option selected>Choose...</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="house-zip">Zip</label>
            <input type="text" class="form-control" id="house-zip">
        </div>
        <div class="form-group">
            <label for="house-directions">In this field you can write specific directions on how your guest can arrive</label>
            <textarea class="form-control" id="house-directions" aria-describedby="house-directions" placeholder="(knock on the side door)"></textarea>
        </div>
    </div>
</div>
<div class="row">

    <div class="form-group">
        <label for="house-wifi-network">House Wifi Network</label>
        <textarea class="form-control" id="house-wifi-network" aria-describedby="house-wifi-network" placeholder="Enter House Wifi Network"></textarea>
    </div>
    <div class="form-group">
        <label for="house-wifi-password">House Wifi Password</label>
        <textarea class="form-control" id="house-wifi-password" aria-describedby="house-wifi-password" placeholder="Enter House Wifi Password"></textarea>
    </div>
    <div class="form-group">
        <label for="house-alarm-key">House Alarm Key</label>
        <textarea class="form-control" id="house-alarm-key" aria-describedby="house-alarm-key" placeholder="Enter House Alarm Key"></textarea>
    </div>
</div>
</div>
</div>
<button type="submit" id="form-submit" class="btn btn-primary">submit</button>

</div>
<script src="/js/form.js"></script>