<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="house-text">House Text</label>
            <input type="text" id="house-text" class="form-control" aria-describedby="house-text" placeholder="Enter House Info Text">
          </div>
          <div class="form-group">
            <label for="house-description">House Description</label>
            <textarea class="form-control" id="house-description" aria-describedby="house-description" placeholder="Enter House Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Houses:</h3>
        <ul id="house-list" class="list-group">
          {{#each houses}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="house/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
