body {
  background-color: lightseagreen;
}

/* card panels tabs set up for experimentation */
.tab-pane {
  background-color: white;
  font-style: bold;
}
.nav-item {
  background: gray;
  color: black;
  font-size: 150%;
}
.nav-link {
  color: black;
}
/* Bottom right text */
.img-bottom-right {
  top: 5%;
  right: 5%;
  opacity: 0.7;
  background-color: navy;
  max-height: 20%;
  max-width: 85%;
  color: whitesmoke;
}
