body {
  background-color: lightseagreen;
}

/* card panels tabs set up for experimentation */
.tab-pane {
  background-color: white;
  font-style: bold;
}
.nav-item {
  background: gray;
  color: black;
  font-size: 150%;
}
.nav-link {
  color: black;
}

.card {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.file-upload-container {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #3F51B5;
    user-select: none;
    transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    text-align: center;
    color: white;
    line-height: 50px;
    font-weight: 300;
    font-size: 20px;
}

.file-upload-container:hover {
    cursor: pointer;
    background: #3949AB;
}