body {
  background-color: lightgray;
  margin: 0;
  font-family: 'Laila', serif;
}
/* card specific classes */
.work-box-card {
  margin-top: 5px;
  border-width: 2.5px;
  border-color: navy;
}
.card-header {
  background-color: navy;
}
.card-img-top {
  max-height: 600px;
}
.bottom-left {
  position: absolute;
  left: 4px;
  bottom: 5px;
}

.jumbotron {
  background-image: url(/images/tom-rumble-645202-unsplash.jpg);
  font-family: 'Kaushan Script';
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}
/* card panels tabs set up for experimentation */
.tab-pane {
  background-color: white;
  font-style: bold;
}
.nav-item {
  background: gray;
  color: black;
  font-size: 100%;
}

.img-bottom-right {
  top: 0;
  opacity: 0.7;
  background-color: navy;
  max-height: 20%;
  max-width: 85%;
  color: whitesmoke;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
/* navbar and footer settings */
#frontPageLogo {
  height: 46px;
  float: right;
  margin: 11px;
  margin-left: 0;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: auto;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* .topnav a.active {
  background-color: navy;
  color: black;} */
.footer {
  position: relative;
  width: 100%;
  margin-top: 15px;
  left: 0;
  bottom: 0;
  background-color: #3a87b4;
  color: white;
  padding-bottom: 10px;
}
.whiteLink {
  color: white;
}
.center {
  text-align: center;
}

.image-upload-card {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
    rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.file-upload-container {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background: #3f51b5;
  user-select: none;
  transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  text-align: center;
  color: white;
  line-height: 50px;
  font-weight: 300;
  font-size: 20px;
}

.file-upload-container:hover {
  cursor: pointer;
  background: #3949ab;
}
#guestImage{
  min-height: 300px;
}
/* css for key overlay please keep at the bottom */

#keyOverlay {
  position: relative;
}

.overlay {
  position: absolute;
  top: 12.5%;
  left: 6.5%;
  width: 30.5%;
  height: 70.5%;
  font-size: 18px;
  /* background-color:yellow; */
}
#sadFace {
  position: absolute;
  top: 30%;
  left: 33%;
}

.list-group {
  width: 75%;
}
.modal-header {
  font-family: 'Laila', serif;
  text-align: left;
  font-size: 20px;
  color: black;
  background-color: #38637e;
  /* text-shadow: gray 0.1em 0.1em 0.1em; */

}

.modal-body {
  /* background-image: url("/images/tom-rumble-645202-unsplash.jpg "); */
  background-color: lightgrey;
  font-family: 'Laila', serif;
  text-align: left;
  font-size: 15px;
  color: black;
  /* image: [ */
    /* opacity] */
  }

.laila {
  font-family: 'Laila', serif;
}

.kaushan {
  font-family: 'Kaushan Script',

}
.form-group {
  width: 100%;
}